body {
	margin: 0;
	font-family: "Inter", system-ui;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #bc9b9b;
}

* {
	font-family: "Inter", system-ui;
}

.header {
	width: 100%;
}

.upheader {
	position: static;
	background: #2c0101;
	height: 16px;
	.container {
		width: 1300px;
		margin: 0px auto;
	}
	a {
		font-family: "Inter";
		font-size: 12px;
		text-decoration: none;
		color: #f9f9f9;
		margin-inline: 10px;
		white-space: nowrap;
	}
}
.topheader {
	position: relative;
	height: 80px;
	background: #7a0000;
	align-items: center;
	justify-content: space-around;
	color: #f9f9f9;

	.container {
		display: flex;
		width: 1300px;
		margin: 0px auto;
	}

	.headerMiddle {
		margin-left: 35%;
	}

	p {
		font-family: "Inter";
		font-size: 12px;
		margin: auto;
	}

	.headerRight {
		list-style: none;
		display: flex;
		align-items: center;
		li {
			display: flex;
			align-items: center;
			span{
				margin-left: 10px;
			}
		}
	}
}

.uperheader {
	position: static;
	height: 23px;
	background: #bd5959;

	.container {
		width: 1300px;
		margin: 0px auto;
	}

	a {
		width: 1300px;
		margin: 0px auto;
		white-space: nowrap;
		text-decoration: none;
		font-size: 16px;
		font-family: "Inter";
		color: #f9f9f9;
		margin-inline: 45px;
	}
}

.wrapper {
	border-radius: 20px;
	width: 1300px;
	margin: auto;
	background: #f9f9f9;
	border-radius: 0px 0px 30px 30px;
	padding: 40px;
	h2 {
		border-bottom: 1px solid #c9b6b6;
		margin-left: auto;
		font-size: 40px;
		font-family: "Russo One";
	}
}

.card {
	border: 1px solid rgba(241, 234, 229, 0.58);
	padding: 30px;
	width: 200px;
	border-radius: 40px;
	background: rgba(241, 234, 229, 0.58);
	margin: auto auto;
	transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

	&:hover {
		box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.07);
		transform: translateY(-5px);
	}

	.favorite {
		position: absolute;
		cursor: pointer;
	}

	span {
		font-size: 14px;
		opacity: 0.5;
		text-transform: uppercase;
	}

	b {
		font-size: 19px;
	}

	h5 {
		font-weight: 400;
		font-size: 14px;
	}
}
.button {
	background: rgba(241, 234, 229, 0.58);
	border: 0 solid #eb5a1e;
	border-radius: 20px;
	box-sizing: border-box;
	height: auto;
	width: auto;
	cursor: pointer;
}

.search-block {
	display: flex;
	border: 1px solid #ffffff;
	margin-left: 5%;

	border-radius: 20px;
	padding: 4px 20px;
	background-color: #f8f8f8;

	input {
		outline: none;
		border: 0;
		font-size: 14px;
		padding: 3px;
	}
}

.overlay {
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.drawer {
	display: flex;
	position: absolute;
	width: 450px;
	height: 100%;
	right: 0;
	background: #ffffff;
	box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.01);

	.items{
		overflow: auto;
	}
	h2 {
		margin: 0;
	}
}

.items {
	flex: 1;

	.cartItem {
		border: 1px solid #f3f3f3;
		border-radius: 20px;
		overflow: hidden;
		padding: 20px;

		.cartItemImg {
			height: 70px;
			width: 60px;
			background-size: contain;
			background-position: 0 0px;
			background-repeat: no-repeat;
			margin-right: 10px;
		}

		p {
			font-size: 15px;
			margin: 0;
		}
		b {
			font-size: 17px;
		}

		.removebtn {
			opacity: 0.5;
			cursor: pointer;
			transition: opacity 0.15s ease-in-out;

			&:hover {
				opacity: 1;
			}
		}
	}
}

.cartTotalBlock {
	ul {
		padding: 0;
		display: block;
		margin-bottom: 30px;
		li {
			display: flex;
			align-items: flex-end;
			margin-bottom: 20px;

			div {
				flex: 1;
				height: 1px;
				border-bottom: 1px dashed #dfdfdf;
				position: relative;
				top: -4px;
				margin: 0 7px;
			}
		}
	}
	.greenButton {
		position: relative;

		&:hover {
			img {
				transform: translateX(5px);
			}
		}
		img {
			position: absolute;
			right: 30px;
			top: 21px;
			transition: transform 0.2s ease-in-out;
		}
	}
}

.redButton {
	width: 100%;
	height: 55px;
	background: #a8342d;
	border-radius: 18px;
	border: 0;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: background 0.1s ease-in-out;

	&:hover {
		background: lighten(#a8342d, 4%);
	}
	&:active {
		background: darken(#a8342d, 4%);
	}
}
