.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
   height: 530px;
}

.banner img {
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.banner img.active {
    opacity: 1;
}

.slideContainer {
    position: absolute;
}

.slide {
    display: flex;
    position: absolute;
    max-width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.buttonContainer {
    position: absolute;
    transform: translateY();
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;
}

.leftButton, .rightButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em; /* Используем em для относительного размера */
    height: 3em; /* Используем em для относительного размера */
    color: #6e6e6e;
    font-size: 1.5em; /* Используем em для относительного размера */

    cursor: pointer;
    transition: background-color 0.3s;
}

.rightButton {
    transition: background-color 0.5s ease-in-out, color 0.3s ease-in-out;
}

.button:hover {
    color: #ffffff;
}

@media (max-width: 1669px) {
    .banner {
        height: calc(38vw - 1px); /* 100px - это 100 пикселей, как вы запросили */
    }
	.leftButton, .rightButton {
		display: none;
	}
}
